body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d2e3c8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background: linear-gradient(135deg, #86a789 0%, #739072 100%);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-bottom: 4px solid #5e9f80;
}

header h1 {
  margin: 0;
  font-size: 3rem;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.buttons {
  text-align: center;
  margin-top: 2rem;
}

.buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.6rem;
  color: #fff;
  background-color: #739072;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #2e4a32;
}

.note-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  position: relative;
}

.note-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.note-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #4f6f52;
  overflow: auto;
}

.note-body {
  font-size: 1.6rem;
  color: #4f6f52;
  word-wrap: break-word;
  max-height: 150px;
  overflow: auto;
}

.note-actions {
  display: flex;
  align-items: center;
}

.note-actions button {
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.4rem;
}

.archive-btn,
.unarchive-btn {
  background-color: #4f6f52;
  color: #fff;
}

.archive-btn:hover,
.unarchive-btn:hover {
  background-color: #2e4a32;
}

.delete-btn {
  background-color: #ff6347;
  color: #fff;
  margin-right: 1rem;
}

.delete-btn:hover {
  background-color: #d6341f;
}

.note-card.archived {
  opacity: 0.5;
  pointer-events: none;
}

.created-at {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #888;
}

.note-form {
  background-color: #86a789;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 40px;
  color: #fff;
}

.note-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2.4rem;
}

.note-form #noteTitle {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: calc(100% - 30px);
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  font-size: 1.6rem;
  resize: none;
  transition: border-color 0.3s ease;
  color: #4f6f52;
}

.note-form #noteTitle::placeholder {
  color: #86a789;
}

.note-form #noteTitle:focus {
  outline: none;
  border-color: #4f6f52;
}

.note-form #noteBody {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: calc(100% - 30px);
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  font-size: 1.6rem;
  height: 300px;
  resize: none;
  transition: border-color 0.3s ease;
  color: #4f6f52;
}

.note-form #noteBody::placeholder {
  color: #86a789;
}

.note-form #noteBody:focus {
  outline: none;
  border-color: #4f6f52;
}

.note-form button[type="submit"] {
  background-color: #4f6f52;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.8rem;
  transition: background-color 0.3s ease;
}

.note-form button[type="submit"]:hover {
  background-color: #2e4a32;
}

.note-form button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: #4f6f52;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 2.5rem;
  }

  .note-title {
    font-size: 1.8rem;
  }

  .note-body {
    font-size: 1.4rem;
  }

  .note-form h2 {
    font-size: 2rem;
  }

  .note-form input[type="text"],
  .note-form textarea {
    font-size: 1.4rem;
  }

  .note-form button[type="submit"] {
    font-size: 1.6rem;
  }
}
